body {
  background-color: #0f172a;
  color: #ffffff;
  font-family: 'Poppins', 'Verdana', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', 'Verdana', sans-serif;
  color: #00bbff;
}
